* {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
}


body {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    width: 100%;
}


/* Bootstrap Navbar */


header .nav .nav-item .nav-link {
    font-size: 18px;
}


header .nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 18px;
}



/* Specific Cars */
#specCar .specCar #carImage {
    border-radius: 25% 45% / 35% 50%;
    -webkit-border-radius: 25% 45% / 35% 50%;
    -moz-border-radius: 25% 45% / 35% 50%;
    -ms-border-radius: 25% 45% / 35% 50%;
    -o-border-radius: 25% 45% / 35% 50%;
}


#specCar .specCar .mh5 {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    text-align: left;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media p {
    padding-right: 2px;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media .trans {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    font-size: 17px;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media .fuel {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    font-size: 17px;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media .seatCap {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    font-size: 17px;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media .seatCap img {
    width: 18px;
}


#specCar .specCar #carDetails .carDetails .list-unstyled .media .feat {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    font-size: 17px;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media .feat img {
    width: 18px;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media .extprice {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    font-size: 17px;
}

#specCar .specCar #carDetails .carDetails .list-unstyled .media .price {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    font-size: 17px;
}





/* Footer */


#location h5 {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
}


#footer {
    background-image: url("https://image.freepik.com/free-vector/white-background-with-3d-hexagonal-pattern-design_1017-28443.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


#footer .footer #location #todayTime {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
}


#footer .footer h2 {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    color: rgb(0, 0, 0);
}


#footer .footer p {
    font-size: 16px;
}


#footer .footer .crLogo {
    width: 125px;
}


#footer .footer h6 {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    font-size: 16px;
}


#footer .footer h6 a {
    color: rgb(0, 0, 0);
    font-size: 16px;
}


#footer .footer h6 a:hover {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    -webkit-text-decoration-line: none;
    -o-text-decoration-line: none;
    color: rgb(0, 0, 255);
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}


#footer .footer .social {
    padding: 0;
    list-style: outside none none;
    display: block;
}


#footer .footer .social li {
    display: inline-block;
    text-align: center;
    margin: 0 14px;
}


#footer .footer .social li a {
    border: 1px solid rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}


#footer .footer .social li a i {
    transform: rotate(-45deg); 
}


#footer .footer .social li a:hover {
    background: #222 none repeat scroll 0 0;
    color: #ffffff;
}


#footer .footer form input[type="email"] {
    text-align: center;
    font-size: 17px;
}


#footer .footer form .btn {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
    text-transform: capitalize;
    font-size: 18px;
}


#footer .footer h4 {
    font-family: 'Sirin Stencil', cursive;
    font-style: normal;
}





/* Customized Alert Message */

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-error hr {
    border-top-color: #f1b0b7;
}

.alert-error .alert-link {
    color: #491217;
}














/* Media Queries */


@media (max-width: 768px) {

    * {
        font-family: 'Sirin Stencil', cursive;
        font-style: normal;
    }

    body {
        font-family: 'Sirin Stencil', cursive;
        font-style: normal;
        width: 100%;
    }

    #specCar .specCar img {
        margin-top: 10%;
    }

    #specCar .specCar .mh5 {
        margin-top: 10%;
    }

    

}