{% load static %}
{% load l10n %}
{% load cloudinary %}

<!DOCTYPE html>
<html>

<head>

    <title> FAQs :: Car Rental </title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Frequently Asked Question or FAQ regarding Car Rental Service.">

    <meta name="author" content="Car Rental">

    <meta property="og:url" content=" " />

    <meta property="og:type" content="website" />

    <meta property="og:title" content="FAQs :: Car Rental" />

    <meta property="og:description" content="Frequently Asked Question or FAQ regarding Car Rental Service" />

    <meta property="og:image" content="{% static 'images/favicon.png' %}" />

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />

    <link rel="shortcut icon" type="img/x-icon" href="{% static 'images/favicon.png' %}">

        <!-- Own CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/faqs.css' %}">


        <!-- Pre-Loader CSS File -->
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">


        <!-- MaterializeCSS CSS File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


        <!-- Semantic UI CSS File -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">


        <!-- jQuery-UI CSS &amp; JS File -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">



        <!-- Animate.css CSS File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


        <!-- Swiper Slider CSS File -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


        <!-- Online-Offline-Status CSS &amp; JS File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/themes/offline-theme-chrome-indicator.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/themes/offline-language-english.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/offline.min.js"></script>


        <!-- Hightlight.js CSS &amp; JS File -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>


        <!-- Clipboardjs JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>


        <!-- Animate on Scroll AOS Library CSS File -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


        <!-- MediaElementJs CSS File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelementplayer.min.css" />

        <!-- Font Awesome JS File -->
    <script src="https://use.fontawesome.com/48a37c6ed0.js"></script>

        <!-- Icofont CSS File -->
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">

        <!-- Boxicons CSS File -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

        <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap" rel="stylesheet">


</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="quotes">Loading <i class="fa fa-long-arrow-right" aria-hidden="true"></i> FAQs Page</div>
    </div>
    <!-- Preloader Ends -->



    <header>

        <ul class="nav nav-tabs justify-content-end">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="img-fluid img-responsive" src="{% static 'images/user.svg' %}">
                    &nbsp;&nbsp; Hey {{ fname }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'clientDashboard:myprofile' %}">
                        My Profile
                    </a>
                    <a class="dropdown-item" href="{% url 'clientDashboard:mybookings' %}">My Bookings</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <img class="img-fluid img-responsive" src="{% static 'images/exit.svg' %}">
                    &nbsp;&nbsp; Logout
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <img class="img-fluid img-responsive" src="{% static 'images/user.svg' %}">
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">
                    <img class="img-fluid img-responsive" src="{% static 'images/user.svg' %}">
                    Register
                </a>
            </li>
            {% endif %}
        </ul>

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url 'carrental:terms-conditions' %}">Terms &amp; Condi.</a></li>
            <li><a href="{% url 'carrental:privacy-policy' %}">Privacy Policy</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'carrental:index' %}" class="brand-logo">
                    <img id="logo" class="img-fluid img-responsive" src="{% static 'images/Car-Rental.png' %}"
                        alt="Car Rental">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <img src="{% static 'images/menu.svg' %}">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'carrental:index' %}">Home</a></li>
                    <li><a href="{% url 'carrental:about' %}">About Us</a></li>
                    <li><a href="{% url 'carrental:gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'carrental:testimonials' %}">Testimonials</a></li>
                    <li><a href="{% url 'carrental:faq' %}">FAQs</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Terms
                            &nbsp;<img src="{% static 'images/chevron-down.svg' %}" alt="Dropdown">
                        </a></li>
                    <li><a href="{% url 'carrental:contactus' %}">Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'carrental:index' %}">Home</a></li>
            <li><a href="{% url 'carrental:about' %}">About Us</a></li>
            <li><a href="{% url 'carrental:gallery' %}">Gallery</a></li>
            <li><a href="{% url 'carrental:testimonials' %}">Testimonials</a></li>
            <li><a href="{% url 'carrental:faq' %}">FAQs</a></li>
            <li><a href="{% url 'carrental:terms-conditions' %}">Terms &amp; Condition</a></li>
            <li><a href="{% url 'carrental:privacy-policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'carrental:contactus' %}">Contact Us</a></li>
        </ul>

    </header>

    <br><br>

    <div class="container container-fluid" id="bredcum">
        <div class="clearfix row">
            <div class="col s12 m12 l12 xl12 my-auto bredcum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'carrental:index' %}">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        FAQs
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <br><br>

    <section class="container container-fluid" id="faq">
        <div class="clearfix row text-center">
            <div class="col s12 m12 l12 xl12 my-auto faq">

                <ul class="collapsible popout">
                    <li class="active">
                        <div class="collapsible-header">
                            <h3>
                                Reservation
                            </h3>
                        </div>
                        <div class="collapsible-body">
                            <dl>
                                <dt>
                                    1. how do i book a car?
                                </dt>
                                <dd>
                                    you can access our website and provide the requested information along with your Credit/Debit Card details. you
                                    can also register yourself on our website. it is mandatory to update your documents (ID Proof, Credit/Debit Card
                                    details / Payment details) to make a reservation or at the time of registration.
                                </dd>
                                    <br>
                                <dt>
                                    2. what all information is required from me to book a car?
                                </dt>
                                <dd>
                                    you will need to enter:
                                        <br><br>
                                    <ul class="ywnte">
                                        <li>Your Name</li>
                                        <li>Valid Mobile Number</li>
                                        <li>Valid Email Address</li>
                                        <li>Valid ID Proof</li>
                                        <li>Your credit card details in case you are using your credit card for making the payment.</li>
                                    </ul>
                                </dd>
                                    <br>
                                <dt>
                                    3. can i prepone my trip?
                                </dt>
                                <dd>
                                    If you want to take the car early, please reschedule your booking. The car is subject to availability.
                                </dd>
                                    <br>
                                <dt>
                                    4. how many hours in advance do i need to make a reservation?
                                </dt>
                                <dd>
                                    you can book the car minimum 4 hours in advance, depending on the availability of the car.
                                </dd>
                                    <br>
                                <dt>
                                    5. do i get any benefit or concession if i return the car earlier than my specified return time?
                                </dt>
                                <dd>
                                    we regret to say that but we do not offer any discounts for early return of the Car Rental.
                                </dd>
                                    <br>
                                <dt>
                                    6. what is your cancellation policy?
                                </dt>
                                <dd>
                                    the hirer can cancel the booking by logging into his/her Car Rental account through the Car Rental Website. the hirer may send in the details of the booking he/she is willing to cancel by email on <strong>info@yourcompany.com</strong> or call us on <strong>+91 - 123 456 7890</strong>
                                </dd>
                                    <br>
                                <dt>
                                    7. for hourly rentals ie. rental period of less than 24 hours
                                </dt>
                                <dd>
                                    if the booking is cancelled more than or equal to 24 hours prior to the scheduled pick up time, a transaction processing fees of &nbsp;<strong>&#8377;</strong> 350/- will be levied. if the booking is cancelled less than 24 hours prior to the scheduled pick up time, the entire rental amount will be forfeited.
                                </dd>
                                <dd>
                                    GST @ 28% will be applicable on all the above mentioned cancellation charges.
                                </dd>
                                <dd>
                                    in case the hirer fails to pick up the car as per the scheduled rental start time without informing the Car Rental team about the same, the incident will be treated as a No-Show resulting in the forfeiture of the rental charges and the security deposite will be refunded.
                                </dd>
                                <dd>
                                    the cancellation charges will be adjusted from the rental charges and the security deposite paid by the hirer. the remaining of the total amount paid shall be refunded post necessary adjustments within 7 - 10 days after cancellation of the booking.
                                </dd>
                                    <br>
                                <dt>
                                    8. what if i do not receive my rental car on my schedule reporting time?
                                </dt>
                                <dd>
                                    please call our helpline number <strong>+91 - 123 456 7890</strong> &amp; we will assist you.
                                </dd>
                                    <br>
                                <dt>
                                    9. do you have a 24 * 7 reservation at all your locations?
                                </dt>
                                <dd>
                                    you may book the vehicle at any time of the day either through the website or contact center. you can pick up / drop off the vehicle at any time from one of our own / virtual locations. however, we do not provide destination pick up / drop off between 23:00 (11:00 PM) hours to 06:30 hours (06:30 AM).
                                </dd>
                                    <br>
                                <dt>
                                    10. can i take a pet along with me?
                                </dt>
                                <dd>
                                    some of our guests might be allergic to pets and hence pets will not be allowed in the car. a charge of &nbsp;<strong>&#8377;</strong> 750/- will be levied as penalty if you bring the pets in the car.
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <h3>
                                Operations
                            </h3>
                        </div>
                        <div class="collapsible-body">
                            <dl>
                                <dt>
                                    1. when does my booking start?
                                </dt>
                                <dd>
                                    the booking start time will be the same as selected by you at the time of making the booking.
                                </dd>
                                    <br>
                                <dt>
                                    2. what type of cars does Car Rental offer?
                                </dt>
                                <dd>
                                    we offer hatch backs / sedan / SUVs / MUVs / luxury cars (Refer website for further details)
                                </dd>
                                    <br>
                                <dt>
                                    3. does the vehicle have manual or automatic transmission?
                                </dt>
                                <dd>
                                    you may check the vehicle's specification for these details at the time of booking.
                                </dd>
                                    <br>
                                <dt>
                                    4. what are the amenities you provide with your car?
                                </dt>
                                <dd>
                                    all cars are equipped with manufacturer’s standard car accessories. Car Rental provides Tissue paper, fire extinguisher, torch, medical kit.
                                </dd>
                                    <br>
                                <dt>
                                    5. what is the minimum time one can rent the car for?
                                </dt>
                                <dd>
                                    you can hire it for a minimum of 24 hours.
                                </dd>
                                    <br>
                                <dt>
                                    6. who pays for parking / toll / state tax?
                                </dt>
                                <dd>
                                    the user of the car rental pays for the parking / toll / state tax.
                                </dd>
                                    <br>
                                <dt>
                                    7. is smoking allowed in the car?
                                </dt>
                                <dd>
                                    smoking is strictly prohibited in Car Rental cars. a charge of &nbsp;<strong>&#8377;</strong> 2000/- will be levied as penalty if you been caught smoking in the car.
                                </dd>
                                    <br>
                                <dt>
                                    8. what about any belongings left in the car at the time of completing journey?
                                </dt>
                                <dd>
                                    <strong>Car Rental</strong> does not take the responsibility for any of your belongings. However, we suggest you to contact our call center and we try our best to help you.
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <h3>
                                Incidents
                            </h3>
                        </div>
                        <div class="collapsible-body">
                            <dl>
                                <dt>
                                    1. what happens in case of an accident?
                                </dt>
                                <dd>
                                    <strong>Car Rental</strong> requests you to immediately notify us (within 4 hours) by calling on our helpline number <strong>+91 - 123 456 7890</strong> or by sending us an email on <strong>help@car-rental.com</strong>. we will coordinate accordingly with our road-side assistance partner.
                                </dd>
                                <dd>
                                    please file an FIR at the nearest police station. do not leave the scene of the accident until proper support has arrived. you maybe required to sign several formality documents associated with the accident.
                                </dd>
                                    <br>
                                <dt>
                                    2. what happens in case of a break down?
                                </dt>
                                <dd>
                                    <strong>Car Rental</strong> requests you to immediately notify us (within 4 hours) by calling on our helpline number <strong>+91 - 123 456 7890</strong> or by sending us an email on <strong>help@car-rental.com</strong>. our 24 * 7 experienced technical team will assist you in case of break-down and provide a replacement, if need.
                                </dd>
                                    <br>
                                <dt>
                                    3. what happens in case of a damage?
                                </dt>
                                <dd>
                                    damage cost up to &nbsp;<strong>&#8377;</strong> 6,000/- is to be paid by Hirer, and it will be deducted from the security deposite. in case damage is more than &nbsp;<strong>&#8377;</strong> 6,000/-, an insurance claim will be filed; the amount of depreciation and parts which are not covered under insurance will be born by the Hirer.
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <h3>
                                Legal
                            </h3>
                        </div>
                        <div class="collapsible-body">
                            <dl>
                                <dt>
                                    1. what is the insurance cover?
                                </dt>
                                <dd>
                                    damage costs up to &nbsp;<strong>&#8377;</strong> 6,000/- is to be paid by hirer. in case damage is more than &nbsp;<strong>&#8377;</strong> 6,000/-, an insurance claim will be filed. the amount of depreciation and parts which are not covered under insurance will be born by the Hirer.
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <h3>
                                Payments
                            </h3>
                        </div>
                        <div class="collapsible-body">
                            <dl>
                                <dt>
                                    1. what mode of payments are accepted?
                                </dt>
                                <dd>
                                    <strong>Car Rental</strong> accepts payments by Credit card (visa / master card), and net banking. all rental payments are made in advance through our website. we do not accept cash.
                                </dd>
                                    <br>
                                <dt>
                                    2. are there any taxes on the rental amount?
                                </dt>
                                <dd>
                                    yes, GST will be applicable as per the state laws.
                                </dd>
                                    <br>
                                <dt>
                                    3. is security deposite different for different car models?
                                </dt>
                                <dd>
                                    No, the security deposite will remain as &nbsp;<strong>&#8377;</strong> 6,000/- for all car types.
                                </dd>
                                    <br>
                                <dt>
                                    4. how will you refund my security deposite?
                                </dt>
                                <dd>
                                    we will refund your security deposite to the source of payment, which maybe your credit card or bank, whichever you used at the time of booking.
                                </dd>
                                    <br>
                                <dt>
                                    5. when will i get my refund back?
                                </dt>
                                <dd>
                                    we process your refund request on the same working day when you return the car. it usually takes 7 - 10 working days for your bank to credit the same into your account.
                                </dd>
                                    <br>
                                <dt>
                                    6. will i get a physical bill?
                                </dt>
                                <dd>
                                    no, the copy of the invoice will be mailed to you on your registered e-mail ID.
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </section>



    <br>

    <footer id="footer">
        <div class="container container-fluid">
            <div class="clearfix row text-center" id="location">
                <div
                    class="col s12 m12 l12 xl12 my-auto animate__animated animate__bounceInDown animate__slower animate__delay-1000s">
                    <br><br>
                    <h5>
                        Your Location : <span> <strong> {{ iploc | safe }} </strong> </span>
                    </h5>
                    <br>
                    <h5 id="todayTime" style="text-align: left;"></h5>
                </div>
            </div>
            <div class="clearfix row">
                <div
                    class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto footer animate__animated animate__bounceInLeft animate__slower animate__delay-1000s">

                    <br><br>
                    <h2>
                        About Us
                    </h2>

                    <br>

                    <p>
                        <q>
                            Getting dressed up and traveling with good friends makes for a shared, unforgettable
                            experience.
                        </q>
                    </p>

                    <br>

                    <figure>
                        <img class="img-fluid img-responsive crLogo" src="{% static 'images/Car-Rental.png' %}"
                            alt="Car Rental">
                    </figure>

                    <br><br>

                </div>
                <div
                    class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto footer animate__animated animate__bounceInUp animate__slower animate__delay-1000s">

                    <br><br>

                    <h2>
                        Contact Info
                    </h2>

                    <br>

                    <h6>
                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;
                        <a href="tel:+911234567890">+91 - 123 456 7890</a>
                    </h6>

                    <br>

                    <h6>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;
                        XYZ Street, City, State - Pin Code, India
                    </h6>

                    <br>

                    <h6>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;
                        Mon - Fri &nbsp; 09:00 - 18:00 &nbsp;|&nbsp;Sunday CLOSED
                    </h6>

                    <br>

                    <ul class="social">
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.telegram.org" target="_blank">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                    </ul>

                    <br><br>

                </div>
                <div
                    class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto footer animate__animated animate__bounceInRight animate__slower animate__delay-1000s">

                    <br><br>

                    <h2>
                        Newsletter
                    </h2>

                    <br>

                    <p>
                        Don't miss a thing! Sign Up to receive daily deals
                    </p>

                    <br>

                    <form action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="subemail" id="subemail" placeholder="Your Email Address"
                                class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-outline-info btn-block" type="submit">
                                Subscribe
                            </button>
                        </div>
                    </form>

                    <br><br>

                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="clearfix row text-center">
                <div class="col s12 m12 l12 xl12 my-auto footer">
                    <h4>
                        &copy; Copyright - Car Rental
                    </h4>
                    <br>
                </div>
            </div>
        </div>
    </footer>




        <!-- Bootstrap JS File -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


        <!-- Pre-Loader JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/preloader.js' %}"></script>


        <!-- MaterializeCSS JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/customMaterializeCode.js' %}"></script>


        <!-- Semantic UI JS File -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.ui.checkbox')
            .checkbox()
            ;
    </script>


        <!-- Momentjs JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.min.js"></script>
    <script>
        const today = moment().format("dddd, Do MMMM gggg, hh:mm:ss A Z");
        document.getElementById("todayTime").innerHTML = today;
    </script>


        <!-- SweetAlert JS File -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <!-- TypeIT JS File -->
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>


        <!-- Swiper Slide JS File -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


        <!-- Animate on Scroll AOS Library JS File -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


        <!-- MediaElementJs JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelement-and-player.min.js"></script>


        <!-- Bootstrap Form Helpers JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>


        <!-- jQuery-Validation JS File -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>

        <!-- Custom JS File -->
    <script src="{% static 'js/indexCustom.js' %}"></script>


</body>

</html>