{% load static %}
{% load l10n %}
{% load cloudinary %}

<!DOCTYPE html>
<html>

<head>

    <title> Terms &amp; Conditions :: Car Rental </title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Terms &amp; Conditions related to Car Rental Service">

    <meta name="author" content="Car Rental">

    <meta property="og:url" content=" " />

    <meta property="og:type" content="website" />

    <meta property="og:title" content="Terms &amp; Conditions Car Rental" />

    <meta property="og:description" content="Terms &amp; Conditions related to Car Rental Service" />

    <meta property="og:image" content="{% static 'images/favicon.png' %}" />

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />

    <link rel="shortcut icon" type="img/x-icon" href="{% static 'images/favicon.png' %}">

    <!-- Own CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/tc.css' %}">


    <!-- Pre-Loader CSS File -->
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">


    <!-- MaterializeCSS CSS File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <!-- Semantic UI CSS File -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">


    <!-- jQuery-UI CSS &amp; JS File -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">



    <!-- Animate.css CSS File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


    <!-- Swiper Slider CSS File -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


    <!-- Online-Offline-Status CSS &amp; JS File -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/themes/offline-theme-chrome-indicator.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/themes/offline-language-english.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/offline.min.js"></script>


    <!-- Hightlight.js CSS &amp; JS File -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>


    <!-- Clipboardjs JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>


    <!-- Animate on Scroll AOS Library CSS File -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <!-- fancyBox CSS &amp; JS File -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>


    <!-- MediaElementJs CSS File -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelementplayer.min.css" />

    <!-- Font Awesome JS File -->
    <script src="https://use.fontawesome.com/48a37c6ed0.js"></script>

    <!-- Icofont CSS File -->
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">

    <!-- Boxicons CSS File -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap" rel="stylesheet">


</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="quotes">Loading <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Terms &amp; Conditions Page</div>
    </div>
    <!-- Preloader Ends -->



    <header>

        <ul class="nav nav-tabs justify-content-end">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="img-fluid img-responsive" src="{% static 'images/user.svg' %}">
                    &nbsp;&nbsp; Hey {{ fname }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'clientDashboard:myprofile' %}">
                        My Profile
                    </a>
                    <a class="dropdown-item" href="{% url 'clientDashboard:mybookings' %}">My Bookings</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <img class="img-fluid img-responsive" src="{% static 'images/exit.svg' %}">
                    &nbsp;&nbsp; Logout
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <img class="img-fluid img-responsive" src="{% static 'images/user.svg' %}">
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">
                    <img class="img-fluid img-responsive" src="{% static 'images/user.svg' %}">
                    Register
                </a>
            </li>
            {% endif %}
        </ul>


        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url 'carrental:terms-conditions' %}">Terms &amp; Condi.</a></li>
            <li><a href="{% url 'carrental:privacy-policy' %}">Privacy Policy</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'carrental:index' %}" class="brand-logo">
                    <img id="logo" class="img-fluid img-responsive" src="{% static 'images/Car-Rental.png' %}"
                        alt="Car Rental">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <img src="{% static 'images/menu.svg' %}">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'carrental:index' %}">Home</a></li>
                    <li><a href="{% url 'carrental:about' %}">About Us</a></li>
                    <li><a href="{% url 'carrental:gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'carrental:testimonials' %}">Testimonials</a></li>
                    <li><a href="{% url 'carrental:faq' %}">FAQs</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Terms
                            &nbsp;<img src="{% static 'images/chevron-down.svg' %}" alt="Dropdown">
                        </a></li>
                    <li><a href="{% url 'carrental:contactus' %}">Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'carrental:index' %}">Home</a></li>
            <li><a href="{% url 'carrental:about' %}">About Us</a></li>
            <li><a href="{% url 'carrental:gallery' %}">Gallery</a></li>
            <li><a href="{% url 'carrental:testimonials' %}">Testimonials</a></li>
            <li><a href="{% url 'carrental:faq' %}">FAQs</a></li>
            <li><a href="{% url 'carrental:terms-conditions' %}">Terms &amp; Condition</a></li>
            <li><a href="{% url 'carrental:privacy-policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'carrental:contactus' %}">Contact Us</a></li>
        </ul>

    </header>

    <br><br>
    
    <div class="container container-fluid" id="bredcum">
        <div class="clearfix row">
            <div class="col s12 m12 l12 xl12 my-auto bredcum">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'carrental:index' %}">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Terms &amp; Conditions
                    </li>
                </ol>
            </div>
        </div>
    </div>

        <br><br>

    <article class="container container-fluid" id="tc">
        <div class="clearfix row">
            <div class="col s12 m12 l12 xl12 my-auto tc">

                <p class="tcOne">
                    These terms of service outline the rules and regulations for the use of Car Rental's Website.
                </p>
                <p class="tcOne">
                    By accessing this website we assume you accept these terms of service in full. Do not continue to use Car Rental's website if you do not accept all of the terms of service stated on this page.
                </p>
                <p class="tcOne">
                    The following terminology applies to these Terms of Service, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website and accepting the Company's terms of service. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance, and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration or any other means, for the express purpose of meeting the Client's needs in respect of the provision of the Company's stated services/products, in accordance with and subject to, prevailing law of. Any use of the above terminology or other words in the singular, plural, capitalization, and/or
                    he/she or they, are taken as interchangeable and therefore as referring to same.
                </p>

                    <br><br>

                <h2 class="tcckh2">
                    Cookies
                </h2>
                <p class="tcckp">
                    We employ the use of cookies. By using Car Rental's website you consent to the use of cookies in accordance with Car Rental's privacy policy.
                </p>
                <p class="tcckp">
                    Most of the modern day interactive websites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate/advertising partners may also use cookies.
                </p>

                    <br><br>

                <h2 class="tclich2">
                    License
                </h2>
                <p class="tclicp">
                    Unless otherwise stated, Car Rental and/or its licensors own the intellectual property rights for all material on Car Rental. All intellectual property rights are reserved. You may view and/or print pages from <a href="car-rental-clg-project.herokuapp.com">Car Rental</a> for your own personal use subject to restrictions set in these terms of service.
                </p>
                <p class="tclicp">
                    You must not:
                </p>
                <ul class="tclicul">
                    <li>
                        Republish material from <a href="car-rental-clg-project.herokuapp.com">Car Rental</a>
                    </li>
                    <li>
                        Sell, rent, or sub-license material from <a href="car-rental-clg-project.herokuapp.com">Car Rental</a>
                    </li>
                    <li>
                        Reproduce, duplicate or copy material from <a href="car-rental-clg-project.herokuapp.com">Car Rental</a>
                    </li>
                </ul>
                <p class="tclicp">
                    Redistribute content from Car Rental (unless content is specifically made for redistribution).
                </p>

                    <br><br>

                <h2 class="tcuch2">
                    User Comments
                </h2>
                <p class="tcucp">
                    Certain parts of this website offer the opportunity for users to post and exchange opinions, information, material, and data ('Comments') in areas of the website. Car Rental does not screen, edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views or opinions of Car Rental, its agents, or affiliates. Comments reflect the view and opinion of the person who posts such a view or opinion. To the extent permitted by applicable laws Car Rental shall not be responsible or liable for the Comments or for any loss cost, liability, damages, or expenses caused and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website. Car Rental reserves the right to monitor all Comments and to remove any Comments which it considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms of Service.
                </p>
                <p class="tcucp">
                    You warrant and represent that:
                </p>
                <ul class="tcucul">
                    <li>
                        You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
                    </li>
                    <li>
                        The Comments do not infringe any intellectual property right, including without limitation copyright, patent or trademark, or other proprietary right of any third party;
                    </li>
                    <li>
                        The Comments do not contain any defamatory, libelous, offensive, indecent, or otherwise unlawful material or material that is an invasion of privacy
                    </li>
                    <li>
                        The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful
                        activity.
                    </li>
                </ul>
                <p class="tcucp">
                    You hereby grant to Car Rental a non-exclusive royalty-free license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
                </p>

                    <br><br>

                <h2 class="tchpch2">
                    Hyperlinking to our Content
                </h2>
                <p class="tchpcp">
                    The following organizations may link to our Web site without prior written approval:
                </p>
                <ul class="tchpul">
                    <li>
                        Government agencies;
                    </li>
                    <li>
                        Search engines;
                    </li>
                    <li>
                        News organizations;
                    </li>
                    <li>
                        Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink to the Web sites of other listed businesses; and
                    </li>
                    <li>
                        Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups that may not hyperlink to our Web site.
                    </li>
                </ul>
                <p class="tchpcp">
                    These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party's site.
                </p>
                <p class="tchpcp">
                    We may consider and approve in our sole discretion other link requests from the following types of organizations:
                </p>
                <ul class="tchpul">
                    <li>
                        commonly-known consumer and/or business information sources such as Chambers of Commerce, American Automobile Association, AARP and Consumers Union;
                    </li>
                    <li>
                        dot.com community sites;
                    </li>
                    <li>
                        associations or other groups representing charities, including charity giving sites,
                    </li>
                    <li>
                        online directory distributors;
                    </li>
                    <li>
                        internet portals;
                    </li>
                    <li>
                        accounting, law, and consulting firms whose primary clients are businesses; and
                    </li>
                    <li>
                        educational institutions and trade associations.
                    </li>
                </ul>
                <p class="tchpcp">
                    We will approve link requests from these organizations if we determine that: (a) the link would not reflect unfavorably on us or our accredited businesses (for example, trade associations or other organizations representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from the visibility associated with the hyperlink outweighs the absence of Car Rental, and (d) where the link is in the context of general resource information or is otherwise consistent with editorial content in a newsletter or similar product furthering the mission of the organization.
                </p>
                <p class="tchpcp">
                    These organizations may link to our home page, to publications, or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement, or approval of the linking party and its products or services; and (c) fits within the context of the linking party's site.
                </p>
                <p class="tchpcp">
                    If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify us by sending an e-mail to carrentalclgproject@gmail.com. Please include your name, your organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs
                    from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.
                </p>
                <p class="tchpcp">
                    Approved organizations may hyperlink to our Web site as follows:
                </p>
                <ul class="tchpul">
                    <li>
                        By use of our corporate name; or
                    </li>
                    <li>
                        By use of the uniform resource locator (Web address) being linked to; or
                    </li>
                    <li>
                        By use of any other description of our Web site or material being linked to that makes sense within the context and format of content on the linking party's site.

                    </li>
                </ul>
                <p class="tchpcp">
                    No use of Car Rental's logo or other artwork will be allowed for linking absent a trademark license agreement.
                </p>

                    <br><br>

                <h2 class="tcifh2">
                    Iframes
                </h2>
                <p class="tcifp">
                    Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our Web site.
                </p>

                    <br><br>

                <h2 class="tcclh2">
                    Content Liability
                </h2>
                <p class="tcclp">
                    We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your Web site or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
                </p>

                    <br><br>

                <h2 class="tcrrh2">
                    Reservation of Rights
                </h2>
                <p class="tcrrp">
                    We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms of service and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms of service.
                </p>

                    <br><br>

                <h2 class="tcrlowh2">
                    Removal of links from our website
                </h2>
                <p class="tcrlowp">
                    If you find any link on our Web site or any linked website objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.
                </p>
                <p class="tcrlowp">
                    Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.
                </p>

                    <br><br>

                <h2 class="tcdh2">
                    Disclaimer
                </h2>
                <p class="tcdp">
                    To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:
                </p>
                <ul class="tcdul">
                    <li>
                        limit or exclude our or your liability for death or personal injury resulting from negligence;
                    </li>
                    <li>
                        limit or exclude our or your liability for fraud or fraudulent misrepresentation;
                    </li>
                    <li>
                        limit any of our or your liabilities in any way that is not permitted under applicable law; or
                    </li>
                    <li>
                        exclude any of our or your liabilities that may not be excluded under applicable law.
                    </li>
                </ul>
                <p class="tcdp">
                    The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.
                </p>
                <p class="tcdp">
                    To the extent that the website and the information and services on the website are provided free of charge, we will not
                    be liable for any loss or damage of any nature.
                </p>

            </div>
        </div>
    </article>

        <br><br>

        <br>

    <footer id="footer" data-aos="fade-down-right">
        <div class="container container-fluid">
            <div class="clearfix row text-center" id="location">
                <div
                    class="col s12 m12 l12 xl12 my-auto animate__animated animate__bounceInDown animate__slower animate__delay-1000s">
                    <br><br>
                    <h5>
                        Your Location : <span> <strong> {{ iploc | safe }} </strong> </span>
                    </h5>
                    <br>
                    <h5 id="todayTime" style="text-align: left;"></h5>
                </div>
            </div>
            <div class="clearfix row">
                <div
                    class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto footer animate__animated animate__bounceInLeft animate__slower animate__delay-1000s">

                    <br><br>
                    <h2>
                        About Us
                    </h2>

                    <br>

                    <p>
                        <q>
                            Getting dressed up and traveling with good friends makes for a shared, unforgettable
                            experience.
                        </q>
                    </p>

                    <br>

                    <figure>
                        <img class="img-fluid img-responsive crLogo" src="{% static 'images/Car-Rental.png' %}"
                            alt="Car Rental">
                    </figure>

                    <br><br>

                </div>
                <div
                    class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto footer animate__animated animate__bounceInUp animate__slower animate__delay-1000s">

                    <br><br>

                    <h2>
                        Contact Info
                    </h2>

                    <br>

                    <h6>
                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;
                        <a href="tel:+911234567890">+91 - 123 456 7890</a>
                    </h6>

                    <br>

                    <h6>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;
                        XYZ Street, City, State - Pin Code, India
                    </h6>

                    <br>

                    <h6>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;
                        Mon - Fri &nbsp; 09:00 - 18:00 &nbsp;|&nbsp;Sunday CLOSED
                    </h6>

                    <br>

                    <ul class="social">
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.telegram.org" target="_blank">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                    </ul>

                    <br><br>

                </div>
                <div
                    class="col-sm-4 col-md-4 col-lg-4 col-xl-4 my-auto footer animate__animated animate__bounceInRight animate__slower animate__delay-1000s">

                    <br><br>

                    <h2>
                        Newsletter
                    </h2>

                    <br>

                    <p>
                        Don't miss a thing! Sign Up to receive daily deals
                    </p>

                    <br>

                    <form action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="subemail" id="subemail" placeholder="Your Email Address"
                                class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-outline-info btn-block" type="submit">
                                Subscribe
                            </button>
                        </div>
                    </form>

                    <br><br>

                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="clearfix row text-center">
                <div class="col s12 m12 l12 xl12 my-auto footer">
                    <h4>
                        &copy; Copyright - Car Rental
                    </h4>
                    <br>
                </div>
            </div>
        </div>
    </footer>




    <!-- Bootstrap JS File -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


    <!-- Pre-Loader JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/preloader.js' %}"></script>


    <!-- MaterializeCSS JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/customMaterializeCode.js' %}"></script>


    <!-- Semantic UI JS File -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.ui.checkbox')
            .checkbox()
            ;
    </script>


    <!-- Momentjs JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.min.js"></script>
    <script>
        const today = moment().format("dddd, Do MMMM gggg, hh:mm:ss A Z");
        document.getElementById("todayTime").innerHTML = today;
    </script>


    <!-- SweetAlert JS File -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- TypeIT JS File -->
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>


    <!-- Swiper Slide JS File -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!-- Animate on Scroll AOS Library JS File -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <!-- MediaElementJs JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelement-and-player.min.js"></script>


    <!-- Bootstrap Form Helpers JS File -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>


    <!-- jQuery-Validation JS File -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>

    <!-- Custom JS File -->
    <script src="{% static 'js/indexCustom.js' %}"></script>


</body>

</html>